html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#labels{
  display: flex;
  justify-content: space-between;
}
#legend-container{
  padding: 10px;
  position: absolute;
  left: 10px;
  bottom: 35px;
  background-color: white;
}
#legend-title{
  font-size: 12pt;
  text-align: center;
  width: 180px;
  margin: auto;
  line-height: 1.4em;
  padding-bottom: 5px;
  font-weight: 400;
}
#title {
  font-size: 20pt;
  font-weight: 600;
}
#infoDiv{
  padding: 10px;
  height: 155px;
}
#subtitle {
  padding: 10px 0 10px 0;
}
#slider {
  height: 0;
  width: 280px;
  margin: 10px;
}

#results {
  padding: 10px;
  background-color: white;
  font-size: 18pt;
  font-weight: 400;
  /* width: 250px; */
  display: flex;
  /* flex-direction: #{column; */
  justify-content: space-between;
}


#current-year{
  text-align: center;
  font-size: 18pt;
}

#dem-results {
  color:  rgba(60, 108, 204,1);
  display: flex;
  justify-content: space-evenly;
}

#rep-results {
  color: rgba(220, 75, 0, 1);
  display: flex;
  justify-content: space-evenly;
}

#dem-candidate {
  margin-right: 0.3em;
}

#rep-candidate {
  margin-right: 0.3em;
}

#parties{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.rep-active {
  background-color: rgba(220, 75, 0, 1);
  color: white;
  border-width: 0;
  border-style: solid;
  padding: 5px;
  width: 80px;
  cursor: pointer;
}

.rep-inactive {
  background-color: white;
  color: rgba(220, 75, 0, 1);
  border-width: 1;
  border-style: solid;
  border-color: rgba(220, 75, 0, 1);
  padding: 5px;
  width: 80px;
  cursor: pointer;
}

.dem-active {
  background-color: rgba(60, 108, 204,1);
  color: white;
  border-width: 0;
  border-style: solid;
  padding: 5px;
  width: 80px;
  cursor: pointer;
}

.dem-inactive {
  background-color: white;
  color: rgba(60, 108, 204,1);
  border-color: rgba(60, 108, 204,1);
  border-width: 1;
  border-style: solid;
  padding: 5px;
  width: 80px;
  cursor: pointer;
}

.oth-active {
  background-color: rgba(181, 166, 0, 1);
  color: white;
  border-width: 0;
  border-style: solid;
  padding: 5px;
  width: 70px;
  cursor: pointer;
}

.oth-inactive {
  background-color: white;
  color: rgba(181, 166, 0, 1);
  border-color: rgba(181, 166, 0, 1);
  border-width: 1;
  border-style: solid;
  padding: 5px;
  width: 70px;
  cursor: pointer;
}

.all-active {
  background-color: rgb(68, 68, 68);
  color: white;
  border-width: 0;
  border-style: solid;
  padding: 5px;
  width: 60px;
  cursor: pointer;
}

.all-inactive {
  background-color: white;
  color: rgb(68, 68, 68);
  border-color: rgb(68, 68, 68);
  border-width: 1;
  border-style: solid;
  padding: 5px;
  width: 60px;
  cursor: pointer;
}

/* Popup */

table td {
  padding: 3px;
}

table.popup td.num {
  text-align: right;
}

table.popup tr.head {
  text-align: center;
  font-weight: bold;
  /* background-color:rgba(50, 50, 50,0.08); */
}

table.popup tr.dem {
  background-color:rgba(60, 108, 204,0.08);
}
table.popup tr.rep {
  background-color:rgba(220, 75, 0, 0.08);
}
table.popup tr.oth {
  background-color:rgba(224, 206, 0, 0.08);
}

.table-container {
  width:100%;
  height:100%;
  text-align: center;
}

table {
  margin: 0 auto;
}

#histogramContainer{
  width: 300px;
  height: 100px;
}

#histogram {
  width: 300px;
  height: 100px;
}